<div class="searchArea">
  <div class="termArea">
    <span>Termo:</span>
    <input type="text" placeholder="XPTO" #termText>
  </div>
  <div class="selectArea" #selectArea>
    <span>Campo:</span>
    <select name="campo" id="campo" (change)="changeSelect($event)">
      <option value="todos" selected>todos</option>
      <option value="nome">Nome</option>
      <option value="acronimo">Acrônimo</option>
    </select>
  </div>
  <div class="buttonArea">
    <button (click)="buildTermos(termText.value)">buscar</button>
  </div>
</div>
