<div class="searchArea">
  <div class="termArea">
    <!-- <span>Termo:</span> -->
    <input type="text" placeholder="TERMO" #termText>
  </div>
  <div class="selectArea" #selectArea>
    <!-- <span>Campo:</span> -->
    <select name="campo" id="campo" (change)="changeSelect($event)">
      <option value="todos" selected disabled>CAMPO</option>
      <option value="todos" >todos</option>
      <option value="nome">Nome</option>
      <option value="acronimo">Acrônimo</option>
    </select>
  </div>
  <div class="buttonArea">
    <button (click)="buildTermos(termText.value)">BUSCAR</button>
  </div>
</div>
