<!-- <div id="graph"></div> -->
<div class="selectArea">
  <div class="selects">
    <select name="campo" id="campo" (change)="changeSelectProd($event)">
      <option value="Todos" selected disabled>{{this.tipoComunicacao != null ? this.tipoComunicacao :'Tipo Prod:'}}</option>
      <option *ngFor="let item of tipoProducoes" value="{{item}}">{{item}}</option>
      <!-- <option value="acronimo">Artigos pub.</option> -->
    </select>

    <select name="campo" id="campo" (change)="changeTipoDeVertice($event)">
      <option value="Todos" selected disabled>{{this.tipoVertice != null ? this.tipoVertice :'Tipo de Vertice:'}}</option>
      <option value="Pesquisador">Pesquisador</option>
      <option value="Instituto">Instituto</option>
      <!-- <option value="acronimo">Artigos pub.</option> -->
    </select>

    <!-- <select name="campo" id="campo" (change)="changeSelect($event)">
      <option value="Todos" selected disabled>Institutos</option>
      <option value="Todos" >Todos</option>
      <option *ngFor="let item of institutos" value="{{item.nome}}">{{item.nome}}</option>
    </select> -->
    <select name="campo" id="campo" (change)="changeSelectPesquisador($event)">
      <option value="Todos" selected disabled>Pesquisadores</option>
      <option value="todos" >Todos</option>
      <option *ngFor="let item of pesquisadores" value="{{item.nome}}">{{item.nome}}</option>
      <!-- <option value="acronimo">Pesquisador 1</option> -->
    </select>
  </div>

  <!-- <div class="tooTipArea" *ngIf="toolTipsFiltros.length > 0"> -->
  <div class="tooTipArea">
    <div class="tootipItem" *ngFor="let item of toolTipsFiltros">
      <p>{{item}}</p>
      <div class="buttonClose" (click)="removeTooTip(item)">X</div>
    </div>
    <div class="tootipItem" *ngFor="let item of toolTipsFiltrosPesquisadores">
      <p>{{item}}</p>
      <div class="buttonClose" (click)="removeToolTipPesquisadores(item)">X</div>
    </div>
  </div>
</div>
<div class="mainPage">
  <svg #graphSvg></svg>
  <div class="tooltip" [style.visibility]="tooltipVisible ? 'visible' : 'hidden'">
    {{ tooltipText }}
  </div>
</div>

