<div class="modalBackArea">
  <div class="modal">
    <div class="fieldArea">
      <!-- <span class="label">Nome:</span> -->
      <input type="text" placeholder="UNIDADE..." #nome>
    </div>

    <div class="fieldArea">
      <!-- <span class="label">Acrônimo:</span> -->
      <input type="text" placeholder="XPTO..." #acronimo>
    </div>

    <div class="buttonArea">
      <button class="cancelar" (click)="closeModal()">CANCELAR</button>
      <button (click)="buildTermos(nome.value, acronimo.value)">ADCIONAR</button>
    </div>
  </div>
</div>

