
<h4 class="title">Institutos:</h4>
<div class="list">
   <div class="listHead listRow">
    <div class="listCell nomeCell">Nome</div>
    <div class="listCell acronimoCell">Acrônimo</div>
   </div>
   <div class="listRow listBody" *ngFor="let list of institutoList">
    <div class="listCell nomeCell">{{list.nome.toUpperCase()}}</div>
    <div class="listCell acronimoCell">{{list.acronimo.toUpperCase()}}</div>
    <div class="listCell excluirCell" (click)="deleteInstituto(list.nome)">excluir</div>
   </div>
</div>

<div class="addButon" (click)="openModalAdd()">
  +
</div>
