<div class="layout">
  <div class="menu">
    <div class="menu-item">
      Home
    </div>
    <div class="menu-item">
      <a routerLink="/institutos" routerLinkActive="active" ariaCurrentWhenActive="page">Institutos</a>
    </div>
    <div class="menu-item">
      Pesquisador
    </div>
    <div class="menu-item">
      Produção
    </div>
  </div>
  <div class="main-area-layout">
    <div class="header">header</div>
    <div class="main-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>