<div class="layout">
  <div class="menu">
    <div routerLink="/home" routerLinkActive="active" class="menu-item" [ngClass]="{'selected': menusSelecionados.home}"  (click)="selecionar('home')">
      <a >Home</a>
    </div>
    <div routerLink="/institutos" routerLinkActive="active" class="menu-item" [ngClass]="{'selected': menusSelecionados.institutos}" (click)="selecionar('institutos')">
      <a >Institutos</a>
    </div>
    <div routerLink="/pesquisador" routerLinkActive="active" class="menu-item" [ngClass]="{'selected': menusSelecionados.pesquisador}" (click)="selecionar('pesquisador')">
      <a >Pesquisador</a>
    </div>
    <div routerLink="/producoes" routerLinkActive="active" class="menu-item" [ngClass]="{'selected': menusSelecionados.producao}" (click)="selecionar('producao')">
      <a >Produções</a>
    </div>
    <div routerLink="/grafos" routerLinkActive="active" class="menu-item" [ngClass]="{'selected': menusSelecionados.grafos}" (click)="selecionar('grafos')">
      <a >Grafos</a>
    </div>
  </div>
  <div class="main-area-layout">
    <!-- <div class="header">header</div> -->
    <router-outlet></router-outlet>
    <!-- <div class="main-area">
    </div> -->
  </div>
</div>
