<div class="layout">
  <div class="menu">
    <div class="menu-item" [ngClass]="{'selected': menusSelecionados.home}"  (click)="selecionar('home')">
      Home
    </div>
    <div class="menu-item" [ngClass]="{'selected': menusSelecionados.institutos}" (click)="selecionar('institutos')">
      <a routerLink="/institutos" routerLinkActive="active">Institutos</a>
    </div>
    <div class="menu-item" [ngClass]="{'selected': menusSelecionados.pesquisador}" (click)="selecionar('pesquisador')">
      <a routerLink="/pesquisador" routerLinkActive="active">Pesquisador</a>
    </div>
    <div class="menu-item" [ngClass]="{'selected': menusSelecionados.producao}" (click)="selecionar('producao')">
      <a routerLink="/producoes" routerLinkActive="active">Produções</a>
    </div>
  </div>
  <div class="main-area-layout">
    <!-- <div class="header">header</div> -->
    <div class="main-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
