.mainPage{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  color:white;
  background-color: var(--ion-item-background, var(--ion-background-color, #fff));
  height: 100%;


  // @media only screen and (max-width: 800px){
  //   min-height: 100vh;
  //   width: 100%;
  //   padding: 20px;
  // }
}


