.mainPage{
  display: flex;
  justify-content: space-around;
  min-height: 57vh;
  align-items: flex-start;
  padding-top: 2vh;
  overflow: auto;
  background-color: var(--ion-item-background, var(--ion-background-color, #fff));
}
