.mainPage {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  background-color: var(--ion-item-background, var(--ion-background-color, #fff));
  color: white;
  text-transform: capitalize;
  overflow-y:scroll ;

}

.textoTotal{
  color: var(--ion-color-dark, var(--ion-color, #fff));
  text-align: center;
}
